/* CSS FOOTER */

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 170px;
    padding: 20px 0;
    background-color: #111;
    color: #FFFF;
    text-align: center;
}

footer img {
    width: 120px;
    margin-bottom: 20px;
}

.fa-map-marker-alt {
    font-size: 29px;
    margin-bottom: 20px;
}

.loc {
    text-align: center !important;
}

footer p {
    text-align: center;
}

footer a {
    margin-bottom: 8px !important;
    color: #FFFF;
    text-decoration: none;
    text-transform: uppercase;
}

footer a:hover {
    color: #FFFF;
}

.fab {
    margin: 10px 10px;
    color: #FFFF;
    font-size: 29px;
}

.pol {
    margin: 10px;
    text-align: center;
}

.fab:hover {
    color: #EB6127;
}

.nav_footer {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.adress_footer {
    margin-bottom: 8px;
}


/* contact */

.card_contact {
    justify-content: center !important;
    align-items: center !important;
    border-style: none;
    flex-direction: row;
}

.card-body {
    border-style: none;
}

.card_form {
    width: 390px;
    justify-content: center !important;
    align-items: 30px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input_form {
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.199);
    width: 350px;
}


/* connexion */

.container_connexion {
    width: 390px;
    justify-content: center !important;
    align-items: center;
    text-align: center;
}

.form_connect {
    display: flex;
    align-items: center;
}


/* MediaQueries */

@media (max-width: 375px) {
    .rs {
        margin-top: 277px;
    }
    .section_footer {
        margin-top: 30px;
        margin-left: 113px;
    }
    .footer {
        /* display: flex; */
        height: 730px;
        flex-direction: column;
    }
    .rs {
        margin-top: 0;
    }
}