* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    overflow: auto !important;
}

body {
    margin: 0 auto;
}

h2 {
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

P {
    font-weight: 600;
}

/*********************
CSS GENERAL
********************/

/* CSS MAIN */

.container {
    margin-bottom: 70px !important;
}

.container_detail {
    margin-top: 30px;
}
.container_detail h2{
    font-size: 35px;
    text-transform: uppercase;

  
}


.container_detail h2, p {
    text-align: center;
    
}

.container_objectif {
    margin: 30px auto;
    text-align: center;
}

.container_objectif p {
    margin-top: 20px !important;
}

.card_presa {
    align-items: center;
    text-align: center;
    border-style: none;
    background-color: #FFF;
}

.logo_header {
    width: 100px;
}

.logoHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_presa {
    width: 100px;
    background-color: #FFF;
}

.house {
    width: 80px;
}

.container_presa {
    margin: 20px auto;
    background-color: #FFF !important;
    color: #000;
}

.container_presa p {
    margin-top: 20px !important;
}

.description {
    font-weight: 400;
    margin-bottom: 100px !important;
}

.container_coachs {
    text-align: center;
    margin: 0 auto;
}

.card-title {
    text-align: left;
    margin: 0 auto;
    line-height: 0.3em;
    font-size: 10pt;
    font-weight: 350;
}

.name_title {
    text-align: left;
    margin: 0 auto;
    font-size: 15pt;
}

.nos_coachs {
    margin: 0 auto;
}

.card_coachs {
    margin: 20px 40px;
    width: 250px;
    border-style: none;
}

.align_img {
    display: flex;
    flex-direction: row;
}

.card-body-home {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.detail_presa {
    display: flex;
    flex-direction: column;
    
}

.container_picto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
    height: 220px;
    width: 600px;
    text-align: center;
    color: #fff;
}

.detail_picto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
  
}

.container_picto h3 {
    text-transform: uppercase;
}

.skills_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.skills_title{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.bars{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.skill1, .skill2 {
    height: 15px;
    width: 70px;
    background-color: #000;
}

.skill1-1 {
    height: 15px;
    width: 45px;
    background-color: #EB6127;
}

.skill2-2 {
    height: 15px;
    width: 65px;
    background-color: #EB6127;
}


.card_detail {
    flex-direction: row-reverse;
    margin: 20px auto;
    justify-content: center;
    width: 600px;
    border-style: none;
}

.card_detail_unit {
    display: flex;
    flex-direction: column;
}

.card-body-detail {
    text-align: center;
}

.card-body-detail h5 {
    margin: 15px 0;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.img_detail {
    width: 250px;
}

.picto_detail {
    width: 80px;
    margin-left: 25px;
}

.btn {
    /*  border: solid rgba(0, 0, 0, 0.116); */
    border-radius: 20px;
    width: 48%;
    color: #EB6127;
    font-weight: 600;
}

.btn:hover {
    width: 100%;
    background-color: #EB6127;
    color: #FFFF !important;
    border-radius: 20px;
    transition: all 0.6s linear 0s;
    width: 48%;
    left: 0;
    top: 0;
}