{% extends 'base.html.twig' %}

{% block title %}Mon coach by Athéon{% endblock %}
{% block body %}
{% block stylesheets %}
<head>
    <title>Mon Coach by club Athéon</title>
    <link rel="stylesheet" href="/css/general.css">
</head>
{% endblock %}
<body>
  <section>
    <p>
     Merci pour votre achat, pour toutes questions, merci d'écrire à 
      <a href="mailto:clubatheon@gmail.com">clubatheon@gmail.com</a>.
    </p>
  </section>
</body>
{% endblock %}

