<footer>

    <a href="https://www.clubatheon.com"><img src="/images/logo_atheon.png" alt=""></a>
    <div>
        <a href="{{ path('pol_confidential')}}">Politique de confidentialité</a>
        <p class="copy text-center">2021 &copy Mon Coach - by club Athéon</p>
    </div>
    <div class="rs">
        <a href="https://www.facebook.com/clubatheon/"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/clubatheon/?hl=fr"><i class="fab fa-instagram"></i></a>
    </div>

</footer>