<footer>

    <a href="https://www.clubatheon.com"><img src="/images/logo_atheon.png" alt=""></a>
    <div>
        <a href="{{ path('pol_confidential')}}">Politique de confidentialité</a>
        <p class="copy text-center">2021 &copy Mon Coach - by club Athéon</p>
    </div>
    <div>
    
    {% if app.user is same as 'ROLE_USER'%}
    <a></a>
    {% else  %}
    <a href="{{ path('disponibilite')}}">Mes disponibilités</a>
    {% endif %}
    </div>
    <div class="rs">
        <a href="https://www.facebook.com/clubatheon/"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/clubatheon/?hl=fr"><i class="fab fa-instagram"></i></a>
    </div>

</footer>

    <footer>

        <div class="rs">
            <div>
                <a href="#"><img src="../img/logo_atheon.png" alt=""></a>
            </div>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>

        </div>
        <section class="section_footer">
            <div class="adress_nav">
                <div class="nav_footer">
                    <a href="index.html">
                        Home
                    </a>
                    <a href="https://www.clubatheon.com">
                        Club Athéon
                    </a>
                    <a href="#">
                        Contact
                    </a>
                    <a href="#">
                        Connexion
                    </a>
                </div>
                <div class="loc">
                    <i class="fas fa-map-marker-alt"></i>
                    <p class="adress_footer">
                        Club Athéon
                    </p>
                    <p class="adress_footer">
                        26 avenue du Général Sarrail
                    </p>
                    <p class="adress_footer">
                        75016
                    </p>
                    <p class="adress_footer">
                        Paris
                    </p>
                </div>
            </div>
        </section>
    </footer>
    <div class="pol">
        <a href="#">Politique de confidentialité</a>
        <p class="copy text-center">2021 &copy Mon Coach - by Athéon</p>
    </div>
