 <header>
        <nav id="navnav" role="navigation">
            <div id="menuToggle">
                <!--checkbox fantôme-->
                <input type="checkbox" />

                <!-- span pour simuler les barres du menu burger   -->
                <span></span>
                <span></span>
                <span></span>

                <ul id="menu">
                    <a href="https://www.clubatheon.coml">
                        <img class="logo" src="../img/logo_atheon.png" alt="">
                    </a>
                    <a href="index.html">
                        <li>Home</li>
                    </a>
                    <a href="https://www.clubatheon.com">
                        <li>Club Athéon</li>
                    </a>
                    <a href="#">
                        <li>Contact</li>
                    </a>
                    <a href="#">
                        <li> Se connecter </li>
                    </a>
                </ul>
        </nav>
        <div class="image_ptHeader">
            <img src="../img/logo_atheon.png">
        </div>
    </header>