{% extends 'base.html.twig' %}

{% block title %}Mon coach by Athéon{% endblock %}
{% block body %}
{% block stylesheets %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@400;500;700&display=swap"
 rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@700&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,900&display=swap"
        rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
<link href="css/header.css" rel="stylesheet">
<link  href="css/footer.css" rel="stylesheet">
<link rel="stylesheet" href="css/general.css">


{% endblock %}
<section class="container container_confidentialte">
    <h2>Politique de confidentialité</h2>
    <p>1. AU SUJET DE LA PRÉSENTE POLITIQUE DE CONFIDENTIALITÉ  

Lorsque vous accédez à notre site internet, vous pouvez être amené à fournir des données personnelles en remplissant des formulaires d’inscription ou de newsletter : nous y indiquons quels types de données personnelles sont exigés. Vous pouvez choisir de ne pas soumettre les données demandées. Pour obtenir des informations sur la manière dont Mon Coach by club Athéon, traite les données personnelles présentes dans ses contenus, nous vous invitons à vous reporter à la présente politique de confidentialité. 

D’une manière générale, il vous est possible de visiter le site de Mon Coach by club Athéon, sans communiquer aucune information personnelle vous concernant. En toute hypothèse, vous n’êtes en aucune manière obligé de transmettre ces informations à Mon Coach by club Athéon. Mon Coach by club Athéon, peut être amenée dans certains cas, notamment pour la création d’un compte membre, à vous demander de renseigner vos nom, prénom et adresse mail, (ci-après vos « Informations Personnelles »). En fournissant ces informations, vous acceptez qu’elles soient traitées par Mon Coach by club Athéon, aux fins indiquées ci-dessous.</p>
    <p>2. LES DONNÉES QUE NOUS COLLECTONS
2.1. LES DONNÉES QUE VOUS NOUS FOURNISSEZ
Les données personnelles que nous collectons directement auprès de vous dépendent de la relation que vous avez avec Mon Coach by club Athéon et peuvent inclure : l’adresse e-mail, donnée personnelle permettant la création d’un compte personnel sur le site www.moncoach.com. D’autres données de contact facultatives peuvent être demandées, telles que : le nom, l’adresse postale, et le numéro de téléphone le nom d’utilisateur et le mot de passe pour accéder à l’espace personnel Mon Coach by club Athéon. </p>
    <p>2.2. LES DONNÉES RECUEILLIES AUPRÈS D’AUTRES SOURCES  
Nous pouvons également obtenir vos coordonnées et autres informations personnelles d’autres parties tierces, y compris : des réseaux sociaux dédiés à Mon Coach by club Athéon lorsque vous accordez la permission à cette dernière d’accéder à vos données sur un réseau social.</p>
    <p>3. LE PARTAGE DE VOS DONNÉES
3.1 VOS CHOIX
Le site www.moncoach.com et les réseaux sociaux peuvent vous permettre de partager vos données personnelles, commentaires, contributions et autres contenus. Tout partage de ce type divulgué par vous publiquement peut être collecté et utilisé par d’autres. Soyez donc prudent lorsque vous divulguez des informations personnelles dans ces espaces publics.</p>
    <p>3.2 RAISONS LÉGALES
La divulgation de vos données personnelles se fera si nous avons la conviction qu’un tel renseignement est nécessaire pour : se conformer à toute loi en vigueur, réglementation, procédure juridique ou autre obligation légale ; détecter, enquêter et permettre de prévenir des problèmes de sécurité, de fraude ou des problèmes techniques ; protéger les droits, la propriété ou la sécurité de  www.moncoach.com, nos utilisateurs, membres ou autres personnes liées.</p>
    <p>3.3 DESTINATAIRES
Seul Mon Coach by club Athéon est destinataire de vos informations personnelles. Celles-ci ne sont jamais transmises à un tiers. Mon Coach by club Athéon ne procède pas à la commercialisation ou à la cession à titre gratuit des données personnelles des visiteurs et utilisateur.</p>
    <p>4. LES FINALITÉS DU TRAITEMENT
Lorsque nous collectons ou traitons vos données personnelles dans le respect de la législation sur la protection des données, nous le faisons : pour vous fournir une newsletter et vous inviter aux événements de Mon Coach by club Athéon, vous permettre d’accéder, dans le futur, à votre compte Mon Coach by club Athéon et gérer votre accès aux fonctionnalités que le site propose, pour comptabiliser les votes concernant les idées et les problèmes soumis à Mon Coach by club Athéon, pour répondre à vos demandes, commentaires et préoccupations, pour notifier les modifications, mises à jour et autres annonces relatives à Mon Coach by club Athéon.</p>
<p>5. CONSERVATION DE VOS DONNÉES PERSONNELLES
Nous ne conservons pas les données collectées après la clôture de votre compte ou la demande de suppression des données enregistrées. Cependant, nous pouvons être amené à conserver vos données à des fins essentielles telles que le respect de nos obligations légales, le règlement de différends, le maintien de la sécurité, la détection et la prévention de la fraude et d’abus, et l’exécution des conditions générales d’utilisation.</p>
<p>6. PROTECTION DE LA VIE PRIVÉE DES ENFANTS
Nous ne collectons pas sciemment des informations des enfants de moins de 16 ans. Les supports proposés par Mon Coach by club Athéon sur le site www.moncoach.com ne s’adressent pas aux enfants de moins de 16 ans n’ayant pas obtenu un accord écrit de la personne détentrice de l’autorité parentale.</p>
<p>7. VOS DROITS
Vous avez des droits garantis par les lois sur la protection de la vie privée et des données en Europe et dans certains autres pays, et vous pouvez en bénéficier gratuitement : accès à vos informations personnelles ; rectification ou suppression de vos données personnelles ; restriction de notre traitement de vos données personnelles, ou objection à notre traitement ; et une copie de vos données personnelles (droit à la portabilité des données). </p>
<p>Si vous désirez exercer ces droits, veuillez adresser votre demande à clubatheon@gmail.com Nous répondrons à votre demande dans le respect des lois en vigueur. Pour protéger votre vie privée et votre sécurité, nous serons amené à vérifier votre identité. Mon Coach by club Athéon s’engage à répondre à votre demande d’accès, de rectification ou d’opposition ou toute autre demande complémentaire d’informations dans un délai raisonnable.</p>
<p>8. MODIFICATIONS
Nous mettrons à jour la présente politique de confidentialité régulièrement. Toute modification sera postée sur cette page avec une date de révision à jour. </p>
<p>9. CONTACT
Si vous avez des commentaires ou des questions ou des demandes concernant la présente politique de confidentialité ou notre traitement de vos données, veuillez nous contacter à l’adresse mail : clubatheon@gmail.com. Vous pouvez également déposer une plainte auprès de la Commission Nationale de l'Informatique et des Libertés (CNIL), régulateur des données personnelles en France.</p>
</section>
{% endblock %}